PyJWT
boto3
pandas
openai
PyPDF2
pydantic
tiktoken
python-dotenv
fastapi[standard]
python-multipart
snowflake-connector-python

opencv-python
langchain
openai
langchain-chroma
langchain-openai
langchain-experimental
unstructured[all-docs]
pillow
pydantic
lxml
matplotlib
chromadb
Unidecode
cleanlab-studio
langchain-nvidia-ai-endpoints